* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #20302b;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav {
  background-color: black;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}

.nav-list a {
  text-decoration: none;
  color: antiquewhite;
  padding: 10px;
}


.nav-list a:hover {
  color: aliceblue;
}

.main {
  width: 100%;
  background-color: #000;
  background-image: url(img/montevideo.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-bottom: 30%;
  padding-top: 8%;
}

.main h1 {
  color: antiquewhite;
  font-size: 54px;
}

.main p {
  font-size: 28px;
  color: antiquewhite;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 20px;

}

.call-to-action {
  cursor: pointer;
  background-color: antiquewhite;
  border: 0;
  border-radius: 5px;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.9s;
}

.call-to-action:hover {
  transform: scale(1.1)
}

.main a {
  text-decoration: none;
  color: antiquewhite;
}


.sobre {
  background-color: #ffffff;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}

.sobre div {
  max-width: 50%;
  padding-right: 50px;
}

.sobre img {
  max-width: 50%;
  border-radius: 5px;
}

.fotos {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding: 80px 0;
}

.fotos h3 {
  font-size: 40px;
  margin-bottom: 8px;
  margin-top: 20px;
  color: antiquewhite;
}

.fotos p {
  font-size: 20px;
  font-style: italic;
  color: antiquewhite;
  margin-bottom: 40px;
}


.lista {
  width: 90%;
  max-width: 1100px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

}

.lista img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.lista img:hover {
  opacity: 1;
}

.galeria-scroll {
  margin-top: 80px;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.galeria-scroll:hover .trilha {
  animation-play-state: paused;
}

.trilha {
  display: flex;
  width: max-content;
  gap: 10px;

  animation: deslizar 35s linear infinite;
}

.trilha img {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;

}

@keyframes deslizar {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}

footer {
  background-color: rgb(19, 18, 18);
  color: antiquewhite;
  text-align: center;
  padding: 40px 20px;

}

footer p {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.footer-links a {
  color: antiquewhite;
  text-decoration: none;
  transition: color .3s ease;
}

.footer-links a:hover {
  color: #ffffff;
}

@media (max-width:1000px) {
  .main h1 {
    font-size: 20px;
  }


  .main p {
    font-size: 15px;
  }

  .main {
    background-size: cover;
  }

  .call-to-action {
    padding: 8px;
    font-size: 10px;
    margin-top: 5%;
  }

  .sobre {
    flex-direction: column;
    align-items: center
  }

  .sobre div {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding-right: 0;
  }

  .sobre img {
    width: 90%;
    padding-top: 30px;
    max-width: 90%;
    margin: 0 auto;
  }

  h2 {
    font-size: 18px;
  }

  .paragrafo {
    font-size: 12px;
  }

  .fotos h3 {
    font-size: 25px;
  }

  .fotos p {
    font-size: 15px;
  }

  .lista {
    width: 95%;
    gap: 10px;
  }

  .lista img {
    height: 180px;
  }
}
